@font-face {
	font-family: 'DIN-Light';
	src: url('../fonts/DINPro-Light.eot');
	src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Light.woff') format('woff'),
		url('../fonts/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
} 
@font-face {
	font-family: 'DIN';
	src: url('../fonts/DINPro.eot');
	src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro.woff') format('woff'),
		url('../fonts/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI-SemiBold';
	src: url('../fonts/SegoeUI-SemiBold.eot');
	src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI-Italic';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Italic.woff') format('woff'),
		url('../fonts/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
