.wrapper {
	width: 100%;
	margin: 0 auto;
}
.wrap {
	margin: 0 auto;
	width: 1140px;
}
/*---------- base ----------*/
.main {
}
.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 704px;
}
.header-slider-block {
	position: relative;
	width: 74.6875%;
	height: 100%;
}
.header-slider{
	width: 100%;
	height: 100%;
} 
.ibg {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header-control {
	width: 100%;
	padding: 35px 35px 0;
	position: absolute;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}
.header-login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-login a {
	padding: 7px;
}
.header-login > :not(:last-child) {
	margin-right: 6px;
}
.header-login__link {
	color: #636262;
	font-family: 'SegoeUI';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- slider ----------*/
.header-slider div {
	width: 100%;
	height: 100%;
}
.slider-item {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}
.slider-text {
	position: absolute;
	margin-left: 70px;
}
.slider__title {
	color: #363636;
	font-family: "SegoeUI";
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.slider__desc {
	color: #5d5d5d;
	font-family: 'SegoeUI';
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.slider__price {
	margin-bottom: 30px;
	height: 15px;
	color: #373737;
	font-family: 'SegoeUI-SemiBold';
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn--bay-nov {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 137px;
	height: 44px;
	border-radius: 22px;
	border: 1px solid  #c54d4d;
	/*----view----*/
	color: #c54d4d;
	font-family: 'SegoeUI-SemiBold';
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.slick-dots {
	position: absolute;
	bottom: 40px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
.slick-dots li {
	display: inline-block;
}
.slick-dots li:not(:last-child){ 
	margin-right: 8px;
}
.slick-dots button {
	padding: 0;
	border: none;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: #313131;
	font-size: 0;
}
.slick-dots .slick-active button {
	background-color: #c44c4c;	
}
/*------- header-menu --------*/
.header-menu {
	padding: 170px 0 155px;
	width: 25.3125%;
	min-width: 160px;
	height: 100%;
	background-color: #0c213a;
}
.menu-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.menu__item {
	width: 100%;
	height: 100%;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}
.menu-link-block {
	width: 50%;
	min-width: 150px;
	padding: 0 10px;
	white-space: nowrap;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.menu__link {
	display: block;
	position: relative;
	padding: 10px;
	/*----view----*/
	color: #ffffff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s linear;
}
.menu__link:after {
	transition: width 0.2s linear;
	width: 0;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	height: 3px;
	background-color: #c44c4c;
}
.menu__link:hover:after {
	width: 19px;
}
/*---------- section best-seller ----------*/
.row-slider-block {
	position: relative;
	width: 100%;
	height: 493px;
	padding: 50px 100px;
}
.section__title {
	color: #4d4d4d;
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- arrow-block ----------*/
.arrow-block {
	display: flex;
	position: absolute;
	top: 40px;
	right: 100px;
}
.arrow {
	margin-right: 20px;
}
/*---------- active ----------*/
.arrow.active .arrow-not_active{
	display: none;
}
.arrow.active .arrow-active{
	display: block;
}
.active.arrow.left img {
	transform: rotate(180deg);
}
.active.arrow.right img {
	transform: rotate(0);
}
/*---------- not-active ----------*/
.arrow.not-active .arrow-active {
	display: none;
}
.arrow.not-active .arrow-not_active {
	display: block;
}
.not-active.arrow.left img {
	transform: rotate(0);
}
.not-active.arrow.right img {
	transform: rotate(180deg);
}
/*---------- best-seller-list ----------*/
.row-slider__list {
	margin-top: 40px;
	display: flex;
	height: 333px;
	align-items: baseline;
	justify-content: center;
}
.row-slider__item {
	width: 20%;
	height: 100%;
	min-width: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.img-container {
	z-index: -1;
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
}
.row-slider__img {
	/*display: none;*/
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 10px;
	/*margin-bottom: 32px;*/
}
.row-slider__title {
	margin-bottom: 13px;
	color: #494949;
	font-family: 'SegoeUI-SemiBold';
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.row-slider__desc {
	margin-bottom: 13px;
	color: #9f9f9f;
	font-family: 'SegoeUI-SemiBold';
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
.row-slider__price {
	color: #c44c4c;
	font-family: 'SegoeUI-SemiBold';
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- section new ----------*/
.new {
	position: relative;
	width: 100%;
	height: 696px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
/*---------------*/
.new-sale {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.13);
	border: 1px solid rgba(0, 0, 0, 0.08);
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
}
.new-sale-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.new-sale-text__item:nth-child(1) {
	color: #c44c4c;
	font-family: 'SegoeUI-Italic';
	font-size: 54px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.new-sale-text__item:nth-child(2) {
	color: #c44c4c;
	font-family: 'SegoeUI-Italic';
	font-weight: 600;
	text-transform: uppercase;
	font-size: 33px;	
}
/*---------------*/
.new__title {
	margin-left: 245px;
	color: #ffffff;
	font-family: 'SegoeUI-Italic';
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
}
/*---------- new-item ----------*/
.new-item {
	text-align: center;
	background-color: #fff;
	position: absolute;
	top: 67px;
	right: 174px;
	width: 370px;
	height: 562px;
	box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.13);
	border: 1px solid rgba(0, 0, 0, 0.08);
}
.new-item__img {
	margin-bottom: 10px;
}
.new-item__title {
	margin-bottom: 10px;
	color: #434343;
	font-family: 'SegoeUI-SemiBold';
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;
}
.new-item__desc {
	margin-bottom: 25px;
	color: #969494;
	font-family: "Segoe UI";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.new-item__price {
	margin-bottom: 25px;
	color: #acacac;
	font-family: 'SegoeUI-SemiBold';
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn_margin {
	margin: 0 auto;
}
.new-item-control {
	margin-top: 40px;
	display: inline-block;
}
.new-item-control-block {
	display: flex;
}
.new-item__link {
	display: block;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: #b1b1b1;
}
.new-item__link:not(:last-child) {
	margin-right: 7px;
}
.new-item__link.active {
	background-color: #c44c4c;
}
/*---------- section news-letter ----------*/
.news-letter {
	width: 100%;
	height: 475px;
	background-color: #eaeaea;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news-img-opacity {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.news-img__item {
	display: block;
}
.news-img-block {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	display: flex;
	height: 100%;
	width: 1047px;
	align-items: flex-end;
	justify-content: space-between;
}
/*---------- news-letter-text ----------*/
.news-letter-text {
	margin-top: 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}
.news-letter__title {
	margin-bottom: 55px;
	color: #2f2f2f;
	font-family: 'SegoeUI-SemiBold';
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
.news-letter__text {
	margin-bottom: 36px;
	width: 468px;
	height: 44px;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	opacity: 0.7;
	/*----view----*/
	color: #a5a5a5;
	font-family: 'SegoeUI';
	font-size: 14px;
	font-weight: 400;
	padding: 0 15px;
}
.news-letter__btn {
	width: 236px;
	height: 44px;
	border-radius: 22px;
	border: 1px solid #c54d4d;
	background-color: #eaeaea;
	/*----view----*/
	color: #c54d4d;
	font-family: 'SegoeUI-SemiBold';
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
/*========== FOOTER ================*/
/*---------- section-footer-menu ----------*/
.footer-menu-row {
	width: 100%;
	/*height: 362px;*/
	padding-top: 65px;
	background-color: #2b2c30;
	padding-bottom: 41px;
}
.footer-menu {
	display: flex;
	justify-content: space-between
}
.wrapper {}
.menu-categories {
	width: 25%;
}
.footer-menu-item__title {
	font-family: 'DIN';
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.footer-menu__item:not(:last-child) {
	margin-bottom: 15px;
}
.footer-menu__link {
	color: #888888;
	font-family: 'DIN-Light';
	font-weight: 300;
}
.footer-menu__link:hover {
	color: #fff;
}
.footer-menu-social {
	margin-top: 32px;
}
.social-block {
	margin-top: -10px;
	display: flex;
}
.social__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #828282;
}
.social__link:hover {
	color: #c44c4c;
}
.social__link:not(:last-child) {
	margin-right: 5px;
}
/*---------- section copyright ----------*/
.copyright {
	width: 100%;
	height: 45px;
	background-color: #141518;
	display: flex;
	align-items: center;
	justify-content: center;
}
.copyright__text {
	color: #919191;
	font-family: 'DIN';
	font-size: 12px;
	font-weight: 300;
}