.wrapper {
	width: 100%;
	margin: 0 auto;
}
.main {
}
.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 704px;
}
.header-slider {
	width: 74.6875%;
	height: 100%;
	position: relative;
}
.block-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.ibg {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ibg_bg {
	display: none;
}
.header-control {
	width: 100%;
	padding: 35px 35px 0;
	position: absolute;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}
.header-login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-login a {
	padding: 7px;
}
.header-login > :not(:last-child) {
	margin-right: 6px;
}
.header-login__link {
	color: #636262;
	font-family: 'SegoeUI';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- slider ----------*/
.slider {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}
.slider-tex {
	margin-left: 70px;
}
.slider__title {
	color: #363636;
	font-family: "SegoeUI";
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.slider__desc {
	color: #5d5d5d;
	font-family: 'SegoeUI';
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.slider__price {
	margin-bottom: 30px;
	height: 15px;
	color: #373737;
	font-family: 'SegoeUI-SemiBold';
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn--bay-nov {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 137px;
	height: 44px;
	border-radius: 22px;
	border: 1px solid  #c54d4d;
	/*----view----*/
	color: #c54d4d;
	font-family: 'SegoeUI-SemiBold';
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.slider-dot__list {
	position: absolute;
	bottom: 40px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
.slider-dot__item:not(:last-child){ 
	margin-right: 8px;
}
.slider-dot__link {
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: #313131
}
.slider-dot__link.active {
	background-color: #c44c4c;	
}
/*------- header-menu --------*/
.header-menu {
	padding: 170px 0 155px;
	width: 25.3125%;
	min-width: 160px;
	height: 100%;
	background-color: #0c213a;
}
.menu-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.menu__item {
	width: 100%;
	height: 100%;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}
.menu-link-block {
	width: 50%;
	min-width: 150px;
	padding: 0 10px;
	white-space: nowrap;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.menu__link {
	display: block;
	position: relative;
	padding: 10px;
	/*----view----*/
	color: #ffffff;
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s linear;
}
.menu__link:after {
	transition: width 0.2s linear;
	width: 0;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	height: 3px;
	background-color: #c44c4c;
}
.menu__link:hover:after {
	width: 19px;
}
/*---------- section best-seller ----------*/
.row-slider-block {
	position: relative;
	width: 100%;
	height: 493px;
	padding: 50px 100px;
}
.section__title {
	color: #4d4d4d;
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- arrow-block ----------*/
.arrow-block {
	display: flex;
	position: absolute;
	top: 40px;
	right: 100px;
}
.arrow {
	margin-right: 20px;
}
/*---------- active ----------*/
.arrow.active .arrow-not_active{
	display: none;
}
.arrow.active .arrow-active{
	display: block;
}
.active.arrow.left img {
	transform: rotate(180deg);
}
.active.arrow.right img {
	transform: rotate(0);
}
/*---------- not-active ----------*/
.arrow.not-active .arrow-active {
	display: none;
}
.arrow.not-active .arrow-not_active {
	display: block;
}
.not-active.arrow.left img {
	transform: rotate(0);
}
.not-active.arrow.right img {
	transform: rotate(180deg);
}
/*---------- best-seller-list ----------*/
.row-slider__list {
	margin-top: 40px;
	display: flex;
	height: 333px;
	align-items: baseline;
	justify-content: center;
}
.row-slider__item {
	width: 20%;
	height: 100%;
	min-width: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.img-container {
	z-index: -1;
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
}
.row-slider__img {
	/*display: none;*/
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 10px;
	/*margin-bottom: 32px;*/
}
.row-slider__title {
	margin-bottom: 13px;
	color: #494949;
	font-family: 'SegoeUI-SemiBold';
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.row-slider__desc {
	margin-bottom: 13px;
	color: #9f9f9f;
	font-family: 'SegoeUI-SemiBold';
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
.row-slider__price {
	color: #c44c4c;
	font-family: 'SegoeUI-SemiBold';
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- section new ----------*/
.new {
	position: relative;
	width: 100%;
	height: 696px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
/*---------------*/
.new-sale {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.13);
	border: 1px solid rgba(0, 0, 0, 0.08);
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
}
.new-sale-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.new-sale-text__item:nth-child(1) {
	color: #c44c4c;
	font-family: 'SegoeUI-Italic';
	font-size: 54px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.new-sale-text__item:nth-child(2) {
	color: #c44c4c;
	font-family: 'SegoeUI-Italic';
	font-weight: 600;
	text-transform: uppercase;
	font-size: 33px;	
}
/*---------------*/
.new__title {
	margin-left: 245px;
	color: #ffffff;
	font-family: 'SegoeUI-Italic';
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
}
/*---------- new-item ----------*/
.new-item {
	text-align: center;
	background-color: #fff;
	position: absolute;
	top: 67px;
	right: 174px;
	width: 370px;
	height: 562px;
	box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.13);
	border: 1px solid rgba(0, 0, 0, 0.08);
}
.new-item__img {
	margin-bottom: 10px;
}
.new-item__title {
	margin-bottom: 10px;
	color: #434343;
	font-family: 'SegoeUI-SemiBold';
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;
}
.new-item__desc {
	margin-bottom: 25px;
	color: #969494;
	font-family: "Segoe UI";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.new-item__price {
	margin-bottom: 25px;
	color: #acacac;
	font-family: 'SegoeUI-SemiBold';
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn_margin {
	margin: 0 auto;
}
.new-item-control {
	margin-top: 40px;
	display: inline-block;
}
.new-item-control-block {
	display: flex;
}
.new-item__link {
	display: block;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	background-color: #b1b1b1;
}
.new-item__link:not(:last-child) {
	margin-right: 7px;
}
.new-item__link.active {
	background-color: #c44c4c;
}